@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --grey-text-color: #81838b;
  --red-text-color: #e40712;
  --primary-background-color: #191a1b;
  --secondary-background-color: #242527;
  --light-background-colo: #c6cad4;
  --divide-color: #403a4d;
}

* {
  font-family: Oswald, sans-serif;
  /* box-sizing: border-box; */
}

body {
  padding: 0;
  margin: 0;
  background: url(../img/background/logo.png);
  background-position: 60vw, 50vh;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: 0 2rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  color: #fff;
  background-color: var(--secondary-background-color);
}

p {
  margin: 0;
}

/* General styling */
table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid #000;
}

footer {
  padding: 1rem;
  text-align: center;
  color: var(--grey-text-color);
  background-color: var(--primary-background-color);
}

/* Utility */
.text-accent {
  color: var(--red-text-color);
}

/* links */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--red-text-color);
  color: var(--grey-text-color);
}

.main-link {
  color: var(--grey-text-color);
  text-transform: uppercase;
  display: block;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--red-text-color);
}

.main-link:hover {
  color: var(--red-text-color);
  text-decoration: none;
}

/* Heading */
.heading-container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--red-text-color);
}

.heading-container h1 {
  color: #fff;
  font-size: 1.7rem;
}

.heading-container ul {
  list-style-type: none;
}

.heading-container li {
  display: inline;
  margin-left: 0.2rem;
  padding-right: 0.3rem;
  border-right: 1.5px solid var(--divide-color);
}

.heading-container li:last-child {
  border-right: none;
}

/* Main page */
.main-heading h1 {
  color: #fff;
  margin: 0;
}

.main-heading {
  padding: 1rem;
  text-align: center;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--red-text-color);
}

.main-nav ul {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  list-style-type: none;
  text-align: center;
  column-count: 2;
}

.main-nav .bestiary-links {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  list-style-type: none;
  text-align: center;
  column-count: 5;
}

.main-nav .conditions-links {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  list-style-type: none;
  text-align: center;
  column-count: 3;
}

.main-nav .statGen-links {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  list-style-type: none;
  text-align: center;
  column-count: 1;
}

.main-nav .statGen-links li {
  padding-top: 0.7rem;
}

/* Main page grid */
.main-nav {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(4, 210px);
  grid-gap: 15px;
  justify-content: center;
}

.main-nav div {
  background-color: var(--primary-background-color);
  border: 5px solid var(--secondary-background-color);
}

.main-item-1 {
  text-align: center;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #eee;
}
.main-item-2 {
  text-align: center;
  padding: 1rem;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #eee;
}
.main-item-3 {
  text-align: center;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #eee;
}
.main-item-4 {
  text-align: center;
  padding: 1rem;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #eee;
}
.main-item-5 {
  text-align: center;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #eee;
}

/* Races */
.race-tab {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--secondary-background-color);
  margin: 1rem;
  padding-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 200px;
}

.race-tab h3 {
  color: #fff;
  background-color: var(--primary-background-color);
  border-bottom: 2px solid var(--divide-color);
  padding: 0.5rem;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.race-tab p {
  padding: 1rem;
}

.race-tab a {
  padding: 1rem;
  color: var(--grey-text-color);
}

.race-tab a:hover {
  color: var(--secondary-background-color);
}

.gnome {
  background-image: url(../img/background/gnome.png);
  background-position: 99% 60px;
}

.dwarf {
  background-image: url(../img/background/dwarf.png);
  background-position: 99% 60px;
}

.dragonborn {
  background-image: url(../img/background/dragonborn.png);
  background-position: 99% 60px;
}

.half-orc {
  background-image: url(../img/background/halforc.png);
  background-position: 99% 60px;
}

.halfling {
  background-image: url(../img/background/halfling.png);
  background-position: 99% 60px;
}

.half-elf {
  background-image: url(../img/background/halfelf.png);
  background-position: 99% 60px;
}

.tiefling {
  background-image: url(../img/background/tiefling.png);
  background-position: 99% 60px;
}

.human {
  background-image: url(../img/background/human.png);
  background-position: 99% 60px;
}

.elf {
  background-image: url(../img/background/elf.png);
  background-position: 99% 60px;
}

/* Ability Scores Generator */
.count {
  border: solid 1px black;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.choose {
  display: none;
}

/* Monster Block */
.monster-stat-block {
  list-style-type: none;
}

.monster-block span {
  font-weight: bold;
}

.size-type-alignment {
  font-style: italic;
}

.stats {
  display: flex;
}

.stat {
  width: 50px;
  height: 2.3rem;
  text-align: center;
}

.modifier-low,
.modifier-med,
.modifier-high {
  font-weight: bold;
}

.modifier-low {
  color: red;
}

.modifier-high {
  color: #adff2f;
}

/* Dice animation */
.box {
  display: flex;
}

.dice {
  width: 15vw;
  box-sizing: content-box;
  align-items: center;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 1rem;
  perspective: 600px;
}
.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 3rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 3rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #e6242e;
  box-shadow: inset -0.175rem 0.175rem 0.375rem rgba(0, 0, 0, 0.3),
    inset 0.25rem -0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 50%;
  padding: 1rem;
  width: 50%;
  opacity: 1;
  transition: opacity 2s;
}

.dot {
  align-self: center;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: inset -0.075rem 0.075rem 0.125rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 0.5rem;
  justify-self: center;
  width: 0.5rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(1.8rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(1.8rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(1.8rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(1.8rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(1.8rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(1.8rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

button {
  align-self: center;
  background-color: #efefef;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
}
button:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}
